[submodule "bsd-branding-repo"]
	path = bsd-branding-repo
	url = https://github.com/BitSpaceDevelopment/bsd-branding-repo

[submodule "bsdxr-ai-agent-skills"]
	path = bsdxr-ai-agent-skills
	url = https://github.com/BitSpaceDevelopment/bsdxr-ai-agent-skills
